.add,.delete{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 15px;
}

.collection{
    flex-basis: 100%;
}

@media (min-width: 768px){
    .collection{
        flex-basis: 40%;
    }
}

@media (min-width: 1024px){
    .collection{
        flex-basis: 27%;
    }
}

@media (min-width: 1440px){
    .collection{
        flex-basis: 18%;
    }
}