.add,.delete{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 15px;
}

@media(min-width: 992px){
    .resto{
        margin-left: 2rem!important;
    }
}

@media(min-width: 1200px){
    .resto{
        margin-left: 3rem!important;
    }
}