header{
    font-size: 72px;
    font-family: cursive;
    color: aliceblue;
    /* background-color: black; */
    width: 100%;
    background : url("../../assets/123.jpg") center center;
    z-index: 2;
    margin-bottom: 12px;
}